/* .woocommerce ul.products li.product {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
}

.product-price {
    color: red;
    font-weight: bold;
} */

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span{
    color: black;
}

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
    padding: 12px;
}

/* Like Box */
 .product  .like-box {
    margin-right:1.8rem !important;
    float: right;
    font-size: 1rem;
    /* background-color: #3b5d50; */
    background-color: #ededed;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color: #3b5d50;
    padding: 10px 10px 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0 30px 30px;
    position: relative;
  }
  
   .product  .like-box:hover {
    background-color: #dedede;
  }
  
  .like-count {
    padding-left: 10px;
  }
  
  .like-box .fa-heart-o {
    transition: all 0.35s ease-out;
    position: absolute;
    left: 10px;
  }
  
  .like-box .fa-heart {
    left: 10px;
    transition: all 0.4s ease-out;
    position: absolute;
    visibility: hidden;
    transform: scale(0.2);
    opacity: 0;
  }
  
  .like-box[data-exists="yes"] .fa-heart {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  
  .like-box[data-exists="yes"] .fa-heart-o {
    visibility: hidden;
    opacity: 0;
  }
  

  /* like Navbar */
  .wrap-like {
    position: relative; 
}

/* .wrap-like .details-like {
    background-color: #ddd;
    border: 0.0625rem solid #f7f7f3;
    padding: 2rem 1.5rem;
    width: 28rem;
    position: absolute;
    top: 50px; 
    right: 0;
    display: none;
    max-height: calc(100vh - 50px); 
    overflow-y: auto; 
    z-index: 1000; 
}

.wrap-like:hover .details-like {
    display: block;
}
.wrap-like .details-like .card-price{
    font-weight: 500;
    letter-spacing: .025rem;
    line-height: 1.5;
} */
.wrap-like .details-like {
  cursor:pointer;
  background-color: #f1f1f1f1;
  border: 0.0625rem solid #f7f7f3;
  padding: 2rem 1.5rem;
  width: 28rem;
  position: absolute;
  top: 50px; 
  right: 0;
  display: block; /* Set to block for visibility management */
  max-height: calc(100vh - 50px); /* Prevent overflow */
  overflow-y: auto; 
  z-index: 1000; 
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Adjust the duration as needed */
}

.wrap-like:hover .details-like {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Fully visible */
  opacity: 1;
}
.wrap-like .details-like  .card:hover {
  background-color: rgb(55,65,81, .1);
}

.wrap-like .details-like .card-price {
  font-weight: 500;
  letter-spacing: .025rem;
  line-height: 1.5;
}

li.count-number {
  margin-left: -5px !important;
  padding-right: 8px !important;
}